
<ion-content>

  <ion-list  lines="none">
    <ion-item>
      <ion-label>
        {{'tab-settings.theme' |translate}}
      </ion-label>
      <ion-button (click)="selectTheme()" fill="clear" color="primary" class="lang-button">{{'tab-settings.theme' + theme | translate}}</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'tab-settings.showFavGender' | translate}}
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="mostrarGenero" (ionChange)="changeShowGenero()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'tab-settings.changeLang' | translate}}
      </ion-label>
      <ion-button (click)="selectLanguage()" fill="clear" color="primary" class="lang-button">{{translate.currentLang}}</ion-button>
    </ion-item>
  </ion-list>


 
 

  </ion-content>
