
<ion-content>

 
  <ion-list>

      <ion-list-header>
        <h3>{{'tab-about.appInfo'| translate}}</h3>
      </ion-list-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/icons/icon-72x72.png">
        </ion-avatar>
        <ion-label>Johnny Movies v{{appVersion}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/favicon-ionic.png">
        </ion-avatar>
        <ion-label>Ionic v{{ionicVersion}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/angular.png">
        </ion-avatar>
        <ion-label>Angular v{{angularVersion}}</ion-label>
      </ion-item>
    </ion-list>
 
    <ion-list>
      <ion-list-header>
        <h3>{{'tab-about.databaseInfo'| translate}}</h3>
      </ion-list-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/tmdb1.png">
      </ion-avatar>
      <ion-label>https://www.themoviedb.org/</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h3>{{'tab-about.developerInfo'| translate}}</h3>
    </ion-list-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/solo-logo-color.svg">
      </ion-avatar>
      <ion-label>Johnny M. Lights</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="navigateWeb('https://www.codinglights.com')">
      <ion-chip color="primary">
        <ion-icon name="cl-world" ></ion-icon> 
        <ion-label >www.codinglights.com</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="none" (click)="navigateWeb('https://play.google.com/store/apps/dev?id=4685011946874084793')">
      <ion-chip color="primary">
        <ion-icon name="logo-google-playstore" ></ion-icon>
        <ion-label >Play Store</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="none" (click)="navigateWeb('https://www.linkedin.com/in/juanmiguelluces/')">
      <ion-chip color="primary">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-label >Linkedin</ion-label>
      </ion-chip>
    </ion-item>
  
  </ion-list>
</ion-content>
