// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** coding lights **/
  --red: #e31b3c;
  --dark-blue: #1d2f44;
  --dark-blue-transparent: #1d2f44c4;
  --black: #0a0f18;
  --black-shadow: #0a0f1888;
  --light-blue: #116dd9;
  --blue-shadow: #0a4385b6;
  --light-gray: #d6d4d4;
  --gray: #c2c2c2;
  --neutral-gray: #495869;

  /** primary **/
  --ion-color-primary: #105bdb;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #e31b3c;
  --ion-color-secondary-rgb: 227, 27, 60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c21633;
  --ion-color-secondary-tint: #ee3554;

  /** tertiary **/
  --ion-color-tertiary: #116dd9;
  --ion-color-tertiary-rgb: 17, 109, 217;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0c53a3;
  --ion-color-tertiary-tint: #358bee;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #d6d8e0;
  --ion-color-medium-rgb: 214, 216, 224;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #b0b2b9;
  --ion-color-medium-tint: #b9bdcc;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #ffffff;
	--ion-background-color-rgb: 255,255,255;

	--ion-text-color: #1d2f44;
	--ion-text-color-rgb: 29,47,68;

	--ion-color-step-50: #f4f5f6;
	--ion-color-step-100: #e8eaec;
	--ion-color-step-150: #dde0e3;
	--ion-color-step-200: #d2d5da;
	--ion-color-step-250: #c7cbd0;
	--ion-color-step-300: #bbc1c7;
	--ion-color-step-350: #b0b6be;
	--ion-color-step-400: #a5acb4;
	--ion-color-step-450: #99a1ab;
	--ion-color-step-500: #8e97a2;
	--ion-color-step-550: #838d98;
	--ion-color-step-600: #77828f;
	--ion-color-step-650: #6c7885;
	--ion-color-step-700: #616d7c;
	--ion-color-step-750: #566373;
	--ion-color-step-800: #4a5969;
	--ion-color-step-850: #3f4e60;
	--ion-color-step-900: #344457;
	--ion-color-step-950: #28394d;

  --ion-item-background: #1d2f44;
  --ion-toolbar-background: #1d2f44;
  --ion-tab-bar-background: #1d2f44;
  --ion-card-background: #1d2f44;
  --ion-card-color: var(--ion-text-color)
}

/*
************************************************************************************
************************************************************************************
***************************** DARK THEME ******************************************
************************************************************************************
************************************************************************************
*/

body.dark {
  --ion-color-primary: #116dd9;
  --ion-color-primary-rgb: 17, 109, 217;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0d54a5;
  --ion-color-primary-tint: #1f7be4;

  --ion-color-secondary: #e31b3c;
  --ion-color-secondary-rgb: 227, 27, 60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c21633;
  --ion-color-secondary-tint: #ee3554;

  --ion-color-tertiary: #116dd9;
  --ion-color-tertiary-rgb: 17, 109, 217;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0d54a5;
  --ion-color-tertiary-tint: #1f7be4;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;


  --ion-background-color: #0a0f18;
	--ion-background-color-rgb: 10,15,24;

	--ion-text-color: #d6d4d4;
	--ion-text-color-rgb: 214,212,212;

	--ion-color-step-50: #141921;
	--ion-color-step-100: #1e232b;
	--ion-color-step-150: #292d34;
	--ion-color-step-200: #33363e;
	--ion-color-step-250: #3d4047;
	--ion-color-step-300: #474a50;
	--ion-color-step-350: #51545a;
	--ion-color-step-400: #5c5e63;
	--ion-color-step-450: #66686d;
	--ion-color-step-500: #707276;
	--ion-color-step-550: #7a7b7f;
	--ion-color-step-600: #848589;
	--ion-color-step-650: #8f8f92;
	--ion-color-step-700: #99999c;
	--ion-color-step-750: #a3a3a5;
	--ion-color-step-800: #adadae;
	--ion-color-step-850: #b7b6b8;
	--ion-color-step-900: #c2c0c1;
	--ion-color-step-950: #cccacb;

  --ion-item-background: #1d2f44;

  --ion-toolbar-background: #1d2f44;

  --ion-tab-bar-background: #1d2f44;

  --ion-card-background: #1d2f44;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}