
<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>{{ 'tab1.newMovies' | translate }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>{{ 'tab1.inTheaters' | translate }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster *ngIf="pageLoaded" [peliculas]="peliculasRecientes"></app-slideshow-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>{{ 'tab1.popular' | translate }}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-slideshow-pares  *ngIf="pageLoaded"  (cargarMas)="cargarMas()" [spinnerLoading]="spinnerLoading" [peliculas]="populares"></app-slideshow-pares>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
