.movie-image {
	min-height: 300px;
	object-fit: cover;
}

ion-list{
		&.ideas{
		background: transparent;
		ion-item{
			--background: transparent;
		}
	}
}

ion-col{
	margin-bottom: 1rem;
}
.movie-container {
	height: 100%;
	ion-card-content {
		padding: 0;
		h2 {
			color: var(--ion-color-step-550);
		}
	}
}
