<ion-content>

  <div *ngIf="!peliculas.length" class="card-container">
    <ion-card>
      <ion-item>
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>{{'tab3.noFavMovies' |translate}}</ion-label>
      </ion-item>
    </ion-card>
  </div>
  
 
  <app-slideshow-poster [flexWrap]="true" class="no-geners" *ngIf="!mostrarGeneros" (modalDismissed)="ionViewWillEnter()" [peliculas]="peliculas"></app-slideshow-poster>

  <ng-container *ngIf="mostrarGeneros">

    <div  *ngFor="let pelicula of favoritoGenero">
      
      <ion-grid *ngIf="pelicula.pelis.length > 0">
        <ion-row>
          <ion-col>
            <h4>{{pelicula.genero}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <app-slideshow-poster  (modalDismissed)="ionViewWillEnter()" [peliculas]="pelicula.pelis"></app-slideshow-poster>
      
    </div>
  </ng-container>
    
</ion-content>